<div class="container">
  <nav class="row sitenav">
    <div class="sitenav-wrapper">
      <img class="sitenav-logo" src="img/index-logo.png" alt="Логотип «Giant»">
      <div class="header-list-wrapper">
        <ul class="header-list">
          <li>
            <a href="#" class="header-list__link disabled">Home</a>
          </li>
          <li>
            <a href="#features" class="header-list__link">Features</a>
          </li>
          <li>
            <a href="#package" class="header-list__link">Pricing</a>
          </li>
          <li>
            <a href="#download" class="header-list__link">Download Now</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>