<div class="container">
  <div class="row banner-block">
    <div class="banner-info">
      <h2 class="banner-info__title">A Powerful & Unique App Landing Template</h2>
      <p class="banner-info__desc">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
      </p>
      <ul class="banner-info__list">
        <li>
          <p class="banner-info__sub">Unlimited colors: banner with images, slider or video</p>
        </li>
        <li>
          <p class="banner-info__sub">Fully Responsive and powered by HTML5 and CSS3</p>
        </li>
        <li>
          <p class="banner-info__sub">Very easy to customize : set up in minutes</p>
        </li>
      </ul>
      <div class="btn btn_bunner-block">
        <button type="button" class="btn-inner">Start Exploring Us</button>
      </div>
    </div>
  </div>
</div>