<div class="container">
  <div class="row">
    <div class="block-look">
      <h2 class="look-title">
        Take a look at our screenshots
      </h2>
      <p class="look-desc">
        Everyone’s reasons for learning user interface design are different. If you’re already a developer, or a PM, or
        a
        UX designer, why develop this totally separate skill?
      </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="block-carousel">
      <ul class="carousel">
        <li class="carousel-item">
          <picture>
            <source media="(min-width:992px)" srcset="img/1.png">
            <img class="carousel-item__pic" src="img/1x290.png" alt="Screen">
          </picture>
        </li>
        <li class="carousel-item">
          <picture>
            <source media="(min-width:992px)" srcset="img/2.png">
            <img class="carousel-item__pic" src="img/2x290.png" alt="Screen">
          </picture>
        </li>
        <li class="carousel-item">
          <picture>
            <source media="(min-width:992px)" srcset="img/3.png">
            <img class="carousel-item__pic" src="img/3x290.png" alt="Screen">
          </picture>
        </li>
        <li class="carousel-item">
          <picture>
            <source media="(min-width:992px)" srcset="img/4.png">
            <img class="carousel-item__pic" src="img/4x290.png" alt="Screen">
          </picture>
        </li>
        <li class="carousel-item">
          <picture>
            <source media="(min-width:992px)" srcset="img/5.png">
            <img class="carousel-item__pic" src="img/5x290.png" alt="Screen">
          </picture>
        </li>
        <li class="carousel-item">
          <picture>
            <source media="(min-width:992px)" srcset="img/1.png">
            <img class="carousel-item__pic" src="img/1x290.png" alt="Screen">
          </picture>
        </li>
        <li class="carousel-item">
          <picture>
            <source media="(min-width:992px)" srcset="img/2.png">
            <img class="carousel-item__pic" src="img/2x290.png" alt="Screen">
          </picture>
        </li>
      </ul>
    </div>
    <div class="left middle-indicator">
      <a href="Previo" class="movePrevCarousel">
        <i class="icon-left middle-indicator-text"></i>
      </a>
    </div>
    <div class="right middle-indicator">
      <a href="Siguiente" class="moveNextCarousel">
        <i class="icon-right middle-indicator-text"></i>
      </a>
    </div>
  </div>
</div>