<div class="container">
  <div class="row">
    <div class="block-package">
      <h2 class="package-title">
        We've got the perfect package for you
      </h2>
      <p class="package-desc">
        Everyone’s reasons for learning user interface design are different. If you’re already a developer, or a PM, or
        a UX designer, why develop this totally separate skill?
      </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <ul class="plan-list">
      <li class="plan-item" style="width: 262px">
        <span>Basic</span>
        <div class="plan-item__price">
          <svg class="plan-angle" version="1.1" xml:space="preserve" viewBox="0 0 100 160" preserveAspectRatio="none">
            <polygon points="0,0 50.1,160 50.1,220 0,220 0,160" />
            <polygon points="49.9,160 100,0 100,160 100,220 49.9,220" />
          </svg>
          <span>
            <sup>&#36</sup>12.0<sub>/m</sub>
          </span>
        </div>
        <ul class="plan-options">
          <li>One User</li>
          <li>Multiple Access</li>
          <li>SMS Support</li>
          <li>24/7 Online Support</li>
        </ul>
        <p>Start Free Trial</p>
        <div class="plan-btn">
          <a href="#">Buy Now</a>
        </div>
      </li>
      <li class="plan-item" style="width: 262px">
        <span>Standard</span>
        <div class="plan-item__price">
          <svg class="plan-angle" version="1.1" xml:space="preserve" viewBox="0 0 100 160" preserveAspectRatio="none">
            <polygon points="0,0 50.1,160 50.1,220 0,220 0,160" />
            <polygon points="49.9,160 100,0 100,160 100,220 49.9,220" />
          </svg>
          <span><sup>&#36</sup>24.0<sub>/m</sub></span>
        </div>
        <ul class="plan-options">
          <li>Five User</li>
          <li>Multiple Access</li>
          <li>SMS Support</li>
          <li>24/7 Online Support</li>
        </ul>
        <p>Start Free Trial</p>
        <div class="plan-btn">
          <a href="#">Buy Now</a>
        </div>
      </li>
      <li class="plan-item" style="width: 262px">
        <span>Premium</span>
        <div class="plan-item__price">
          <svg class="plan-angle" version="1.1" xml:space="preserve" viewBox="0 0 100 160" preserveAspectRatio="none">
            <polygon points="0,0 50.1,160 50.1,220 0,220 0,160" />
            <polygon points="49.9,160 100,0 100,160 100,220 49.9,220" />
          </svg>
          <span><sup>&#36</sup>250.0<sub>/m</sub></span>
        </div>
        <ul class="plan-options">
          <li>Twenty User</li>
          <li>Multiple Access</li>
          <li>SMS Support</li>
          <li>24/7 Online Support</li>
        </ul>
        <p>Start Free Trial</p>
        <div class="plan-btn">
          <a href="#">Buy Now</a>
        </div>
      </li>
      <li class="plan-item" style="width: 262px">
        <span>Enterprise</span>
        <div class="plan-item__price">
          <svg class="plan-angle" version="1.1" xml:space="preserve" viewBox="0 0 100 160" preserveAspectRatio="none">
            <polygon points="0,0 50.1,160 50.1,220 0,220 0,160" />
            <polygon points="49.9,160 100,0 100,160 100,220 49.9,220" />
          </svg>
          <span><sup>&#36</sup>999.0<sub>/m</sub></span>
        </div>
        <ul class="plan-options">
          <li>Unlimited User</li>
          <li>Multiple Access</li>
          <li>SMS Support</li>
          <li>24/7 Online Support</li>
        </ul>
        <p>Start Free Trial</p>
        <div class="plan-btn">
          <a href="#">Buy Now</a>
        </div>
      </li>
    </ul>
  </div>
</div>