<div class="container">
  <div class="row download-block">
    <h2 class="download-title">Download Giant App Now</h2>
    <div class="download-list">
      <a href="#" class="download-item">
        <div class="download-item__img">
          <img src="img/mac_icon.png" alt="mac-logo" width="80" height="80">
        </div>
        <div class="download-item__inner">
          <span>Download</span>
          <h2>Download from app store</h2>
        </div>
      </a>
      <a href="#" class="download-item">
        <div class="download-item__img">
          <img src="img/andy_icon.png" alt="android-logo" width="80" height="80">
        </div>
        <div class="download-item__inner">
          <span>Download</span>
          <h2>Download from play store</h2>
        </div>
      </a>
      <a href="#" class="download-item">
        <div class="download-item__img">
          <img src="img/win_icon.png" alt="win-logo" width="80" height="80">
        </div>
        <div class="download-item__inner">
          <span>Download</span>
          <h2>Download from microsoft store</h2>
        </div>
      </a>
    </div>
  </div>
</div>