<div class="container">
  <div class="row block-footer">
    <div class="footer-social">
      <a href="#" class="social-item"><i class="icon-facebook"></i></a>
      <a href="#" class="social-item"><i class="icon-twitter"></i></a>
      <a href="#" class="social-item"><i class="icon-dribbble"></i></a>
      <a href="#" class="social-item"><i class="icon-behance"></i></a>
    </div>
    <ul class="footer-copyright">
      <li>Copyright © 2017  |  UXSEVEN - a sister concern of codepixar.com</li>
    </ul>
  </div>
</div>